<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <style>
            .on{
                background-color: blue;
            }
            .off{
                background-color: green;
            }
        </style>
    </head>
    <body>
        <h2>LED ON/OFF</h2>
        <img src="../static/on.png" id="ON">
        <img src="../static/on.png" id="off">
        <button class="on" onclick="ON_click">ON</button>
        <button class="off" onclick="OFF_click">OFF</button>
    </body>
</html>
